 
.izquierda {
    background:#f2f2f2 ;
    height: 100vh;
    width: 50%;
    text-align: center;
    margin-top: 5px;
    margin-left: 250px;
}

.derecha {
    background:#f2f2f2 ;
    width: 50%;
    height: 100vh;
    /* background: url();
    background-size: cover;
    background-position: center; */
}
 
#pantalla-dividida {
    display: flex;
}
.creative {
    color: #ffffff;
}
 


